<div class="form">
    <form method="post">
        <div>
            <input type="text" name="AdSoyad" class="textbox" placeholder="Ad Soyad:">
        </div>
        <div>
            <input type="text" name="Mail" class="textbox" placeholder="Email:">
        </div>
        <div>
            <input type="text" name="Konu" class="textbox" placeholder="Konu:">
        </div>
        <div class="form1">
            <div>
                <textarea name="Mesaj" placeholder="Mesaj:"></textarea>
            </div>
        </div>
        <div>

            <input class="read" type="submit" value="Gönder" />
        </div>
    </form>

    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"].ToString()
        </div>
    }
    @if (TempData["Success"] != null)
    { 
        <div class="alert alert-success" role="alert">
            @TempData["Success"].ToString()
        </div>
    }
</div>
